﻿@model MyCinema.Web.Models.Film
@{
    ViewBag.Title = "FilmEdit";
}

<h2>Edit one movie</h2>

@using (Html.BeginForm("Edit", "Film"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)
    @Html.Hidden("editAction", ViewData["editAction"].ToString());

    <div class="editor-label">@Html.LabelFor(m => m.Cim)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Cim)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Mufaj)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Mufaj)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Hossz)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Hossz)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Ev)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Ev)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Foszereplo)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Foszereplo)</div>

    <input type="submit" value="SEND" />
}



