﻿@model MyCinema.Web.Models.FilmViewModel

@{
    ViewBag.Title = "Crud Index";
}

<h2>Films Index</h2>

<p style="color:red">
    @TempData["editResult"]
</p>

@Html.Partial("FilmEdit", Model.EditedFilm)

@Html.Partial("FilmList", Model.ListOfFilms)