﻿@model MyCinema.Web.Models.Film
@{
    ViewBag.Title = "FilmDetails";
}

<h2>Datasheet of one movie</h2>

@Html.ActionLink("Back to the list", "Index");

<table border="1">
    <tr>
        <td>@Html.DisplayNameFor(m => m.Id)</td>
        <td>@Html.DisplayFor(m => m.Id)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Cim)</td>
        <td>@Html.DisplayFor(m => m.Cim)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Mufaj)</td>
        <td>@Html.DisplayFor(m => m.Mufaj)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Hossz)</td>
        <td>@Html.DisplayFor(m => m.Hossz)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Ev)</td>
        <td>@Html.DisplayFor(m => m.Ev)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Foszereplo)</td>
        <td>@Html.DisplayFor(m => m.Foszereplo)</td>
    </tr>
</table>

