﻿@model IEnumerable<MyCinema.Web.Models.Film>

@{
    ViewBag.Title = "FilmList";
}

<h2>List of films</h2>

@if (Model.Count() == 0)
{
    <p>No data in the database! :(</p>
}
else
{
    <table border="1">
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().Cim)</th>
            <th>@Html.DisplayNameFor(m => m.First().Mufaj)</th>
            <th>Datasheet</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.Cim)</td>
                <td>@Html.DisplayFor(m => item.Mufaj)</td>
                <td>@Html.ActionLink("[SHOW]", "Details", new { id = item.Id })</td>
                <td>@Html.ActionLink("[DEL]", "Remove", new { id = item.Id })</td>
                <td>@Html.ActionLink("[EDIT]", "Edit", new { id = item.Id })</td>
            </tr>
        }
    </table>
}


