﻿@{
    ViewBag.Title = "API Test";
}

<h2>API test</h2>

<p id="message" style="color:red;font-weight:bold"></p>
<ul id="films"></ul>
Film ID:
<input type="text" id="filmID" />
<br />
<button onclick="doList()">LIST</button>
<button onclick="doListNEW()">LIST NEW</button>
<button onclick="doAdd()">ADD</button>
<button onclick="doMod()">MOD</button>
<button onclick="doDel()">DEL</button>
